        {% load static from staticfiles %}
        {% load i18n %}
        <div class="left-side-menu">
            <div class="slimscroll-menu" id="left-side-menu-container">
                <!-- LOGO -->
                <a href="#" class="logo text-center">
                    <span class="logo-lg">
                        <img src="{% static 'images/logo.png' %}" alt="" height="16" id="side-main-logo">
                    </span>
                    <span class="logo-sm">
                        <img src="{% static 'images/logo.png' %}" alt="" height="16" id="side-sm-main-logo">
                    </span>
                </a>

                <!--- Sidemenu -->
                <ul class="metismenu side-nav">
                    <li class="side-nav-title side-nav-item">Navegación</li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="fas fa-tachometer-alt"></i>
                            <span class="badge badge-success float-right">4</span>
                            <span> Dashboards </span>
                        </a>
                    </li>

                    <li class="side-nav-title side-nav-item">Apps</li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="fas fa-code"></i>
                            <span> Contenido </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li class="side-nav-item">
                                <a href="javascript: void(0);" aria-expanded="false">Usuarios
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="side-nav-third-level" aria-expanded="false">
                                    <li>
                                        <a href="{% url 'custom_user:list_user' %}">Listar</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'custom_user:create_user' %}">Crear</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="side-nav-item">
                                <a href="javascript: void(0);" aria-expanded="false">Departamentos
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="side-nav-third-level" aria-expanded="false">
                                    <li>
                                        <a href="{% url 'Diary:registry' %}">Listar departamentos</a>
                                    </li>
                                    <li class="side-nav-item">
                                        <a href="{% url 'Diary:diaryview' %}">Crear departamento
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>

                <div class="clearfix"></div>

            </div>
        </div>